<div>
  <div class="home-image">
    <img src="https://media.timeout.com/images/103727745/380/285/image.jpg" alt="Card image cap" />
  </div>
  <div class="info">
    <h4>Death of a Salesman by Arthur Miller</h4>
    {{#if hasUser}}
      <div class="info-buttons">
        <a class="btn details" href="">Details</a>
        <span class="likes">4 likes</span>
      </div>
    {{/if}}
  </div>
</div>

<div>
  <div class="home-image">
    <img src="https://media.timeout.com/images/103727757/380/285/image.jpg" alt="Card image cap" />
  </div>
  <div class="info">
    <h4>This Is Our Youth by Kenneth Lonergan</h4>
    {{#if hasUser}}
      <div class="info-buttons">
        <a class="btn details" href="">Details</a>
        <span class="likes">3 likes</span>
      </div>
    {{/if}}
  </div>
</div>
<div>
  <div class="home-image">
    <img src="https://media.timeout.com/images/103727773/380/285/image.jpg" alt="Card image cap" />
  </div>
  <div class="info">
    <h4>Cloud 9 by Caryl Churchill</h4>
    {{#if hasUser}}
      <div class="info-buttons">
        <a class="btn details" href="">Details</a>
        <span class="likes">6 likes</span>
      </div>
    {{/if}}
  </div>
</div>

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam fugit aliquid, qui debitis repellendus minus, deserunt dolores veniam pariatur sed itaque quaerat
est. Tenetur vitae explicabo autem quia harum modi!