<div>
  <div class="home-image">
    <img src="{{imgUrl}}" alt="Card image cap" />
  </div>
  <div class="info">
    <h4>{{title}}</h4>
    <div class="info-buttons">
      {{#unless hasUser}}
        <a class="btn details" href="/play/{{_id}}">Details</a>
        <span class="likes"> likes {{users.length}}</span>
      {{/unless}}
    </div>
  </div>
</div>